.form {
    text-align: center;
	color: #555;
	max-width: 480px;
	margin: 60px auto;
}
.form span {
	display: block;
	margin: 30px 0 10px;
}
.form p {
	margin-top: 10px;
	font-size: 0.8em;
}
.form button {
	display: block;
	width: 100px;
	font-size: 1em;
	color: #fff;
	padding: 8px 20px;
	border: 0;
	border-radius: 4px;
	background-color: #002776;
	cursor: pointer;
	text-decoration: none;
	margin: 20px auto;
}