#side{
    /* align-content: center; */
    /* align-items: center; */
	/* padding: 15px; */
	background-color:rgb(228, 125, 47)
    ;
	/* overflow:none; */
    /* position:-webkit-sticky;
    position:sticky;
    top:0;
    width:fit-content; */
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top:0;
    float:right
}

.form {
    font-size: 30px;
    color:white;
    padding-inline: 25px;
    text-align: center;
}

.form input {
    /* vertical-align: center; */
    padding:10px;
    margin-left:10px;
    margin:5px;
    float: right;
}

.form button {
    border-radius: 10%;
    padding:10px;
    color:white;
    background-color: #002776;
}
